<% if (locals.message) { %>
    <div
      style="margin-top: 10px;"
      class="alert alert-<%- locals.error ? 'danger' : 'success' %>"
      role="alert">
      <%= message %>
    </div>
    <% } %>
    