<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>
<div class="container" style="text-align: center;margin-top: 10%;">
    <pre>Error 404: Page not found</pre>

</div>
<%- include ('../partials/footer') %>