<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
      <!-- THE REST OF YOUR HTML CODE GOES HERE -->
      <h1><centre>Hey there, <%= username %>!</centre></h1>
      <p>
        Welcome to Global Chat, the site where you can talk to anyone, anywhere, regardless of your preferred language. Simply join the chat room, send a message, and it will automatically be translated into everyone else's preferred language on their screen.
      </p>
      <p>
        You can change your preferred language at your <a href="./settings">Settings page</a>.
      </p>

      <a class="btn btn-primary" href="/chatbox" role="button">Let's go!</a>
    </div>
</main>

<%- include ('../partials/footer') %>
