<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container welcome-container">
      <!-- THE REST OF YOUR HTML CODE GOES HERE -->
      <h1><centre>Hey there, <%= username %>!</centre></h1>
      <p>
        Welcome to Global Chat, the news site where you can read the news in whatever language you prefer. Simply navigate to the <a href="./news">News page</a> and all the stories will automatically be translated into your language of choice.
      </p>
      <p>
        You can change your preferred language at your <a href="./settings">Settings page</a>.
      </p>

      <a class="btn btn-primary" href="/chatbox" role="button">Let's go!</a>
    </div>
</main>

<%- include ('../partials/footer') %>
