<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
      <!-- THE REST OF YOUR HTML CODE GOES HERE -->
      <h1><centre>Welcome <%= locals.username %>!</centre></h1>

      <a class="btn btn-primary" href="/chatbox" role="button">Chat Box</a>
    </div>
</main>

<%- include ('../partials/footer') %>
