<%- include ('../partials/head') %>
    <%- include ('../partials/menu') %>

        <main>
            <div class="container">
                <label>This is a test page</label>
            </div>
        </main>

        <%- include ('../partials/footer') %>