<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
      <!-- THE REST OF YOUR HTML CODE GOES HERE -->
      <h1><centre>Welcome <%= username %> !</centre></h1>

      <a class="btn btn-primary" href="/news" role="button">Global news</a>
    </div>
</main>

<%- include ('../partials/footer') %>
