<%- include ('../partials/head') %>





<main>
  <div class="container" style="padding-bottom: 30px;">
    <div class="col"><%- include ('../partials/message') %></div>
    <div class="row" style="padding-top: 30px; padding-bottom: 20px ;">
      <img src="/resources/globalicon.svg">
    </div>
    <div class="row" style="margin: auto; width: 40%; text-align: left; padding-top: 30px; font-size: 20px;">
    <form action = "/login" method = "post">
      <div class="mb-3">
        <label for="username1" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name = "username">
      </div>
      <div class="mb-3">
        <label for="password1" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name = "password">
      </div>
      <div class="row">
      <div class="col" style="max-width: 30%;">
        <button type="submit" class="btn btn-primary" value = "Submit">Login</button>
      </div>
      <div class="col" style="font-size: 15px; text-align: right; padding-top: 15px;">
        <p>Don't have an account yet? <a href="/register" class="link-primary">Register here</a></p>
      </div>
    </div>
    </form>
  </div>
</main>

<%- include ('../partials/footer') %>
