<%- include ('../partials/head') %>
    <%- include ('../partials/menu') %>

        <main>
            <div class="container">
                <form class="form" action="/login" method="post">

                    <table class="table">
                        <tr>
                            <td>
                                <label>Username</label>
                            </td>
                            <td>
                                <input type="text" name="username">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Password</label>
                            </td>
                            <td>
                                <input type="password" name="password">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                        <td><label for="donthaveaccount">Don't have an account?</label>
                            <a href="/register">Register</a></td>
                            <td><button class="btn btn-primary" type="submit">Login</button></td>
                        </tr>
                    </table>
                </form>
            </div>
        </main>

        <%- include ('../partials/footer') %>