<%- include ('../partials/head') %>
<!-- <%- include ('../partials/menu') %> -->
<!-- don't need the menu yet when we haven't logged in yet -->


<div class="col"><%- include ('../partials/message') %></div>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <form action = "/register" method = "post">
      <div class="mb-3">
        <label for="username1" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name = "username">
      </div>
      <div class="mb-3">
        <label for="password1" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name = "password">
      </div>
      <button type="submit" class="btn btn-primary" value = "Submit">Register</button>
      <!-- for the button go back to previous lab and find what need to do, do we need to create seperate form for button  -->
    </form>
    <p>Already have an account? <a href="/login" class="link-primary">Login here</a></p>
  </div>
</main>

<%- include ('../partials/footer') %>
