<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container" style="padding-bottom: 30px;">
      <!-- THE REST OF YOUR HTML CODE GOES HERE -->
      <h1><centre>Settings page</centre></h1>
    </div>
</main>

<%- include ('../partials/footer') %>
